@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-dark-cl: #121212;
  --second-dark-cl: #000;

  --main-white-txt-cl: #f7f7f7;
  --second-white-txt-cl: #d8d7d7;
  --accent-cl: #115c48;

  --main-gray-bg-cl: rgb(37, 37, 37);

  --arrow-fray-cl: rgba(255, 255, 255, 0.4);

  --header-border-cl-20: rgba(247, 247, 247, 0.2);
  --footer-border-cl-30: rgba(18, 18, 18, 0.3);

  --app-height: 100lvh;

  --main-transition: 300ms;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;

  font-size: 16px;
  color: var(--second-dark-cl);
  background: var(--main-white-txt-cl);
}

.blur-filter {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.transition-max-height {
  transition: max-height 0.5s ease-in-out;
}

.hero {
  height: var(--app-height);
  background: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
    url("/images/Hero/hero.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .hero {
    background: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
      url("/images/Hero/hero.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
